body {
    padding-top:2rem;
    margin-top:3rem;
}
.gradient{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#160404+1,683838+100 */
    background: #160404; /* Old browsers */
    background: -moz-linear-gradient(top,  #160404 1%, #683838 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #160404 1%,#683838 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #160404 1%,#683838 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#160404', endColorstr='#683838',GradientType=0 ); /* IE6-9 */
}

.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
    background: #EEE;
    max-width: 1200px;
}

/* clearfix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- grid-item ---- */

.grid-item {
    width: 160px;

    float: left;
    /* vertical gutter */
    margin-bottom: 10px;

     margin-left:20px;
    margin-right:20px;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
}

.grid-item--width2 { width: 340px; }
.grid-item--width3 { width: 520px; }
.grid-item--width4 { width: 780px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }
